{% extends 'authentication/base.html' %}

{% block content %}
    <form method="POST" action="">
        {% csrf_token %}
        <div class="container">
            <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
                <div class="col-md-4 mx-auto">
                    <h1 style="text-align: center">Infoboard CMS</h1>
                    <div class="mb-3">
                        <label for="loginInput" class="form-label">Login</label>
                        <input type="text" class="form-control" id="loginInput" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="loginInput" class="form-label">Hasło</label>
                        <input type="password" class="form-control" id="loginInput" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Zaloguj</button>
                </div>
            </div>
        </div>
    </form>

{% endblock %}