{% load static %}
{% if errors %}
      <div class="alert alert-danger" role="alert">
          {% for error_field_name, error_info in errors.items %}
            {{ error_field_name.upper }}{{ error_info }}
          {% endfor %}
      </div>
{% endif %}
<form action="{{ request.get_full_path }}" method="POST">
    {% csrf_token %}
    <div class="container text-center">
      <div class="row" style="height: 100%; border: 1px solid; margin-bottom: 10px; padding: 5px;">
        <div class="col">
          Header snippet
            <select class="form-select" id="header_snippet" name="header_snippet">
                {% if page.page_structure.header_snippet.type %}
                    <option selected value="{{ page.page_structure.header_snippet.type }}_{{ page.page_structure.header_snippet.id }}">{{ page.page_structure.header_snippet.type }}</option>
                    <option value="delete_snippet">Brak snippetu</option>
                {% else %}
                    <option selected value="None">Wybierz snippet</option>
                {% endif %}
                {% for key, value in page.page_structure.header_snippet.TypeSnippetChoices.choices %}
                    <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
      </div>
      <div class="row" style="height: 100%; border: 1px solid; margin-bottom: 10px; padding: 5px;">
        <div class="col">
          Content snippet
            <select class="form-select" id="content_snippet" name="content_snippet">
                {% if page.page_structure.content_snippet.type %}
                    <option selected value="{{ page.page_structure.header_snippet.type }}_{{ page.page_structure.header_snippet.id }}">{{ page.page_structure.content_snippet.type }}</option>
                    <option value="delete_snippet">Brak snippetu</option>
                {% else %}
                    <option selected value="None">Wybierz snippet</option>
                {% endif %}
                {% for key, value in page.page_structure.content_snippet.TypeSnippetChoices.choices %}
              <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
      </div>
      <div class="row" style="height: 100%; border: 1px solid; margin-bottom: 10px; padding: 5px;">
        <div class="col">
          Footer snippet
            <select class="form-select" id="footer_snippet" name="footer_snippet">
                {% if page.page_structure.footer_snippet.type %}
                    <option selected value="{{ page.page_structure.header_snippet.type }}_{{ page.page_structure.header_snippet.id }}">{{ page.page_structure.footer_snippet.type }}</option>
                    <option value="delete_snippet">Brak snippetu</option>
                {% else %}
                    <option selected value="None">Wybierz snippet</option>
                {% endif %}
                {% for key, value in page.page_structure.footer_snippet.TypeSnippetChoices.choices %}
              <option value="{{ key }}">{{ value }}</option>
                {% endfor %}
            </select>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit" aria-expanded="false">
        Save
    </button>
</form>
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>