{% if errors %}
      <div class="alert alert-danger" role="alert">
          {% for error_field_name, error_info in errors.items %}
            {{ error_field_name.upper }}{{ error_info }}
          {% endfor %}
      </div>
{% endif %}
<form action='' method="POST">
    {% csrf_token %}
    <p>
        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            New Page
        </a>
        <button class="btn btn-primary" type="submit" aria-expanded="false">
            Save
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body has-validation">
            <div class="mb-3">
                <input class="form-control" id="page-name" type="text" placeholder="Nazwa strony" aria-label="Name of page" name="name">
            </div>
            <div class="mb-3">
                <input class="form-control" id="slug" type="text" placeholder="Slug" aria-label="Slug of page" name="slug">
            </div>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Opis" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
            </div>
            <div class="mb-3">
                <label>Publikuj od</label>
                <input value="{{ publish_from_datetime_now }}" class="form-control" type="datetime-local" id="birthdaytime" name="publish_from">
            </div>
            <div class="mb-3">
                <label>Publikuj do</label>
                <input class="form-control" type="datetime-local" id="birthdaytime" name="publish_to">
            </div>
        </div>
    </div>
</form>
