{% for field in form.hidden_fields %}
    {{ field }}
{% endfor %}


{% for field in form %}
    <div class="row" style="margin-top: 2px;">
    {% if field.is_hidden == False %}
        <div class="col">
            <select class="form-select" name="{{ field.name }}">
                 {% if not field.initial %}
                    <option selected value="">Wybierz film</option>
                 {% else %}
                     <option selected value="">Usuń film</option>
                 {% endif %}
                {% for video in field.field.choices.queryset %}
                    {% if field.initial == video.id %}
                        <option selected value="{{ field.initial }}">{{ video.name }}</option>
                    {% else %}
                        <option value="{{ video.id }}">{{ video.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    {% endif %}
    </div>
{% endfor %}
