<ul class="nav nav-pills" style="padding-bottom: 5px;">
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'page' %}active{% endif %}" aria-current="page" href="edit">Edycja strony</a>
  </li>
  <li class="nav-item">
    <a class="nav-link {% if request.resolver_match.url_name == 'page-structure' %}active{% endif %}" aria-current="page-structure" href="edit-structure">Edycja struktury strony</a>
  </li>
</ul>
<form action="change-status" method="POST">
{% csrf_token %}
    <select id="changed_page_status" name="changed_page_status" class="form-select" aria-label=".form-select-sm example" style="background-color: gray; color: white; width: 200px;"
            {% if page_status == 2 or page_status == 4 %} disabled {% endif %}>
      <option selected>{{ page_status.label }}</option>
      {% for available_status in available_statuses %}
          <option value="{{ available_status.value }}" style="background-color: white; color: black;">{{ available_status.label }}</option>
      {% endfor %}
    </select>
    <button type="submit" class="btn btn-danger btn-sm" style="margin-top: 5px;">Zmień status</button>
</form>
